@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* --- VARIABLES --- */
:root{
  --inner-page-width: 1220px;
}

/* --- COMMON --- */
body{
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

body *{
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a{
  color: #000;
  text-decoration: underline;
}

a.incognito {
  color: inherit;
  text-decoration: none;
}

.material-icons{
  vertical-align: middle;
}

/* --- COMMON ELEMENTS --- */
input,
select,
textarea{
  padding: 6px;
  border: 1px solid #111;
  background-color: #FFF;
  border-radius: 0;
}

button{
  padding: 8px 16px;
  border: none;
  background-color: #111;
  color: #FFF;
  cursor: pointer;
  transition: background-color 0.1s;
  font-weight: bold;
  border-radius: 0;
}

button:hover{
  background-color: #333;
}

table{
  width: 100%;
  border: 1px solid #111;
  border-collapse: collapse;
}

table td{
  border-bottom: 1px solid #111;
  color: #000;
  padding: 8px 4px;
}

table th{
  background-color: #111;
  color: #FFF;
  font-family: 'IBM Plex Serif', serif;
  font-weight: bold;
  font-style: italic;
  padding: 8px 4px;
}

/* --- HEADER --- */
.headernav{
  width: 100%;
  padding: 0 calc((100% - var(--inner-page-width)) / 2);
  background-color: #111;
  color: #FFF;
}

.headernav a{
  color: #FFF;
  text-decoration: none;
}

.headernav__row{
  display: block;
  width: 100%;
  padding: 12px 0;
}

.headernav__row--flex{
  display: flex;
  flex: auto 1 1;
}

.flex-filler{
  flex: 1 0 0;
}

.headernav__logo{
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  line-height: 48px;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'IBM Plex Serif', serif;
}

.headernav__links{
  flex: 1 0 0;
  text-align: right;
}

.headernav__links a{
  display: inline-block;
  width: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFF;
  transition: color 0.1s;
}

.headernav__links a:hover{
  color: #CCC;
}

.headernav__search{
  position: relative;
  background-color: #FFF;
  padding: 2px 6px;
  width: 100%;
  max-width: 600px;
}

.headernav__search input{
  background-color: transparent;
  border: none;
  line-height: 32px;
  width: calc(100% - 48px);
  max-width: 600px;
}

.headernav__search button{
  background-color: transparent;
  color: #000;
  border: none;
  cursor: pointer;
  width: 32px;
  line-height: 32px;
  height: 32px;
}

/* --- HOTSEARCH --- */
.search__hotsearch{
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF;
  border: 1px solid #111;
  display: block;
  list-style-type: none;
}

.search__hotsearch li{
  display: block;
  width: 100%;
  padding: 4px 6px;
  color: #000;
  background-color: transparent;
  transition: background-color 0.1s;
}

.search__hotsearch li:hover{
  background-color: #CCC;
}

.search__hotsearch a{
  color: #000;
  text-decoration: none;
}

.search__hotsearch img{
  height: 48px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

.hotsearch--loading{
  animation: hotsearch-loading 0.5s infinite;
}

@keyframes hotsearch-loading{
  0%{ opacity: 0.25; }
  50%{ opacity: 0.75; }
  100%{ opacity: 0.25; }
}
/* --- HOTSEARCH ENDS, BACK TO HEADER --- */

.headernav__navrow{
  display: flex;
  flex: auto 0 0;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.headernav__navrow li{
  display: inline-block;
  list-style-type: none;
  padding: 1.25rem 1.5rem;
  margin: 0;
  text-transform: uppercase;
}

.headernav__navrow a{
  color: #FFF;
  transition: color 0.1s;
}

.headernav__navrow a:hover{
  color: #CCC;
}

/* --- FOOTER --- */
footer{
  text-align: center;
  color: #777;
  font-family: 'IBM Plex Serif', serif;
  font-style: italic;
  padding: 16px 0;
}

/* --- COMMON AMONG PAGES --- */
.page{
  width: 100%;
  max-width: var(--inner-page-width);
  margin: 1rem auto;
}

.main-header{
  font-size: 2rem;
  font-weight: bold;
  font-family: 'IBM Plex Serif', serif;
  font-style: italic;
  margin: 1.5rem 0;
}

.section-header{
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'IBM Plex Serif', serif;
  margin: 1rem 0;
}

form .field{
  margin: 8px 0;
}

form .field label{
  display: block;
  font-size: 0.9rem;
  margin: 0;
}

form .field input,
form .field select{
  width: 100%;
  max-width: 300px;
}

form .field textarea{
  width: 100%;
  max-width: 500px;
}

form .buttons{
  text-align: right;
}

.cart-total,
.order-total{
  text-align: right;
  font-family: 'IBM Plex Serif', serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.cart-total__number,
.order-total__number{
  font-weight: bold;
  font-style: italic;
}

.product-list {
  width: 100%;
  display: flex;
  flex: auto 0 0;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.product-list__product {
  flex: auto 0 0;
  display: block;
  width: 230px;
  padding: 16px;
  text-align: center;
}

.product-list__product img {
  display: inline;
  width: auto;
  height: 128px;
}

.product-list .product-name {
  display: block;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
  height: 3rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.product-list .product-price {
  display: block;
  color: #777;
  font-style: italic;
  font-family: 'IBM Plex Serif', serif;
  font-size: 0.9rem;
  text-align: left;
}

.product-list__sold-out {
  opacity: 0.75;
}

.product-list__sold-out span {
  text-decoration: line-through !important;
}

/* --- CART PAGE --- */
.cart__delbtn-row{
  width: 48px;
  text-align: center;
}

.cart__delbtn-row button{
  padding: 0;
  width: 32px;
  line-height: 32px;
  text-transform: uppercase;
}

.cart__img-row{
  width: 128px;
  text-align: center;
}

.cart__img-row img{
  width: 96px;
  height: auto;
}

/* --- NOTICES --- */
.notice{
  background-color: rgba(0, 0, 255, 0.25);
  border: 1px solid rgba(0, 0, 255, 1);
  padding: 4px;
  margin: 4px 0;
}

.notice-warn{
  background-color: khaki;
  border: 1px solid yellow;
}

.notice-error{
  border: 1px solid crimson;
  background: rgba(255, 0, 0, 0.25);
}

.checkout-disable-notice{
  color: crimson;
}

/* --- LOGIN PAGE --- */
.page--auth .forms{
  display: flex;
}

.login-form,
.signup-form{
  width: 100%;
  flex: auto 1 1;
  margin: 0 8px;
}

/* --- PRODUCT PAGE --- */
.product-overview{
  width: 100%;
  display: flex;
  flex: auto 1 1;
  flex-wrap: wrap;
}

.product-overview__gallery{
  min-width: 400px;
  flex: 400px 0.3 1;
  padding: 16px;
}

.product-overview__overview{
  flex: 800px 0.6 1;
  padding: 16px;
}

.product-availability,
.product-category{
  font-size: 0.9rem;
  color: #333;
}

.product-price{
  font-family: 'IBM Plex Serif', serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.product-price__number{
  font-weight: bold;
  font-style: italic;
}
